
.anchor{
    -fx-background-image: url(/img/1.jpg); 
    -fx-background-position: center; 
    -fx-background-size: stretch;
   
}

.register{
	-fx-pref-width: 400;
	-fx-pref-height: 600;
}

.userInput{ 
	-fx-pref-height: 50.0;
	-fx-pref-width: 200;
	-fx-font-size: 20;
}
.userInputR{
	-fx-pref-height: 40.0;
	-fx-pref-width: 300;
}

.input{
	-fx-border-color: #ccc;
	-fx-border-width: 3;
	-fx-border-style: solid inside;
	-fx-font-size: 15;
}

.tPane{
	-fx-background-color: white;
	-fx-pref-width: 350.0;
	-fx-pref-height: 75.0;
}


.tLabel{
	-fx-text-fill: black;
	-fx-font-size: 20;
}

.button{
	-fx-background-color:  #19b9e7;
	-fx-text-fill: #fff;
	-fx-font-size: 21;
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-border-radius: 0.2;
}
.buttonJoin{
	-fx-background-color:  #19b9e7;
	-fx-text-fill: #FFF;
	-fx-font-size: 15;
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-border-radius: 0.2;
}
.buttonDetail{
	-fx-background-color: #FFF;
    -fx-max-width: 100px;
    -fx-max-height: 100px;
    -fx-background-image: url(/img/detailIco.png);
  	-fx-background-position: center; 
	-fx-background-size: stretch  ;
}

.buttonChange{
	-fx-background-color:  #6dcde9;
}

.paneOnTextF{
	 -fx-pref-height: 250.0;
	 -fx-pref-width:250.0;
	-fx-background-color: #eee; 
}
/* pane register hlavny sivy pane v ktorom budu vsetky textfieldy */
.paneRegister{
	-fx-background-color: #eee;
	-fx-pref-height: 500.0;
	 -fx-pref-width:350.0;
}
.errLabel{
	-fx-pref-width: 200;
	-fx-pref-height: 15;
	-fx-text-fill: red;
	-fx-font-size: 11;
}


/*main view  style  -------------------------------------------------------*/
.mainView{
	-fx-pref-height: 400.0px;
	-fx-pref-width: 700.0px;
	-fx-max-width: 	700.0px;
	-fx-min-width: 700.0px;
	
}
.eventListView{
	-fx-pref-height: 325.0;
	-fx-pref-width: 500.0px;
	-fx-min-width: 500.0px;
	-fx-max-width: 500.0px;
}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /* 3:, 4: */
    -fx-background-color: #6C80C6;
    -fx-text-fill: pink; /* 5 */
}
.list-cell { -fx-text-fill: black; /* 5 */ }
.list-cell:odd { -fx-background-color: white; /* 1 */ }
.list-cell:even { -fx-background-color: #CCC; /* for information */ }
/* .list-cell:filled:hover { 
    -fx-background-color: #00f;
    -fx-text-fill: white; /* 5 
}*/
.list-cell:empty{
	-fx-background-color: white;
}

.vbLabel{
	-fx-font-size: 15;
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-font-weight: bold;
}
.vbValueLabel{
	-fx-font-weight: normal;
}
.leftMainPane{
	-fx-background-color: #eee;
	-fx-pref-width: 150;
	-fx-pref-height: 250;
}
.leftTitleMainPane{
	-fx-background-color: #FFF;
	-fx-pref-width: 150;
	-fx-pref-height: 60;
}
.hboxFilter{
	-fx-pref-height: 30;
	-fx-min-height: 30;
	-fx-max-height: 30;
	-fx-pref-width: 400;
}

.locationLabel{
	-fx-font-size: 15;
	-fx-text-fill: black;
	-fx-background-color: #FFF;
	-fx-pref-height: 30;
	-fx-min-height: 30;
	-fx-max-height: 30;
	-fx-text-alignment: center;
	-fx-alignment: center;
}
.locationTextField{
	-fx-border-color: #ccc;
	-fx-border-width: 3;
	-fx-border-style: solid inside;
	-fx-font-size: 13;
	-fx-min-width: 100;
	-fx-pref-width: 100;
	-fx-max-width: 100;
	-fx-pref-height: 30;
	-fx-min-height: 30;
	-fx-max-height: 30;
}
.rangeTextField{
	-fx-border-color: #ccc;
	-fx-border-width: 3;
	-fx-border-style: solid inside;
	-fx-font-size: 13;
	-fx-min-width: 30;
	-fx-max-width: 40;
	-fx-pref-height: 30;
	-fx-min-height: 30;
	-fx-max-height: 30;
}
.spacePane{
	-fx-min-width: 10;
	-fx-pref-width: 10;
	-fx-max-width: 10;
	-fx-background-color: #FFF;
}
.filterButton{
	-fx-background-color:  #19b9e7;
	-fx-text-fill: #FFF;
	-fx-font-size: 15;
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-border-radius: 0.2;
	-fx-max-height: 30;	
}
/*-----------------------create event    ------------------------- */
.createEvent{
	-fx-pref-height: 500;
	-fx-pref-width: 600;
}
.spaceCreateEvent{
	-fx-min-height: 5;
	-fx-pref-height: 5;
	-fx-max-height: 5;
	-fx-background-color: #eee; 	
}
.createTPane{
	-fx-background-color: white;
	-fx-pref-width: 250.0;
	-fx-pref-height: 75.0;
}
.createUserPane{
	-fx-background-color: #eee;
	-fx-pref-height: 425.0;
	 -fx-pref-width:250.0;
}
.userCreateEventInput{
	-fx-pref-width: 200;
	-fx-pref-height: 30;
}
.descriptionAreaInput{
	-fx-pref-width: 200;
	-fx-pref-height: 40;
	-fx-max-height: 70;
}